<!--The content below is only a placeholder and can be replaced.-->

<!-- <div>


 <button (click)="add()">add</button>
        <li *ngFor="let a of arr; let i = index"> 
     
    <input [(ngModel)]="type[i]" type="text">
      {{type[i]}}

    <select [(ngModel)]="type1[i]">
    <option value="a" ng-selected="a">a</option>
    <option value="b">b</option>


    </select>{{type1[i]}}
    <button (click)="add()">add</button>
    <button (click)="sub(i)" [value] ="i">sub</button>

    </li>


</div>
<div *ngFor="let t of type;let in=index">
   {{in}}. {{t}}


</div> -->

  <!-- <h1>{{title}}</h1>
  <nav>
    <a routerLink="/app1">App</a>
    <a routerLink="/heros">Heroes</a>
  </nav>
  <router-outlet></router-outlet> -->
    <!-- <button type="button" class="btn btn-primary" (click)="openModal(template)">Create template modal</button>
   <ng-template #template>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Modal</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div style="height:500px">
      <div *ngFor="let t of glob.type1">
        <table>
          <tr><td> {{t}}</td>
           <td> <input type="text"></td></tr>
          </table>

      </div>
    </div>
  </ng-template>
  <textarea [(ngModel)]="input">

        


  </textarea>
{{input}}
<div>
<button type="button"(click)="evaluate(input)">evaluate</button>
</div> -->
<div>
    <a routerLink="/app1">App</a>
    <a href="/heros">Hero</a>


    <router-outlet></router-outlet>
  </div>

